<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Strona domowa</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <H1>Przedmiot</H1>
    Id: <b th:text="${item.id}"></b><br/>
    Nazwa: <b th:text="${item.name}"></b><br/>
    Cena: <b th:text="#{${item.active}}"></b><br/>
    Dodano: <b th:text="#{${item.active}}"></b><br/>
    Status: <b th:text="#{${item.active}}"></b><br/>
    Wystawiony do: <b th:text="#{${item.active}}"></b><br/>
    Wystawiony przez: <b th:text="#{${item.active}}"></b><br/>
    Zapłacił najwięcej: <b th:text="#{${item.active}}"></b><br/>
    Kategorie:
    <th:block th:each="category : ${item.categories}">
        <div class="span3">
            <a th:href="|/category/details/${category.id}|" sec:authorize="hasRole('ROLE_ADMIN')">
                <b th:text="${category.name}"></b>
            </a>
            <b th:text="${category.name}" sec:authorize="!hasRole('ROLE_ADMIN')"></b>
        </div>
    </th:block>
<br/>
    <a class="btn btn-success" href="/item">Wstecz</a>
</div>
</body>
</html>