<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Aukcja</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <H2>Przedmioty</H2>

<div th:fragment="itemList(itemsPage)">

    <div th:if="${itemsPage.hasContent() eq false}">
        <span>Brak przedmiotów w bazie</span>
    </div>
    <div th:if="${itemsPage.hasContent() eq true}">

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Data utworzenia</th>
                <th>Data zakończenia aukcji</th>
                <th>Status</th>
                <th>Wystawiony przez</th>
                <th>Zapłacił najwięcej</th>
                <th>Akcje</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${itemsPage.content}">

                <td>
                    <a th:href="'/item/details/'+${item.id}" th:inline="text">[[${item.name}]]</a>
                </td>
                <td th:text="|${item.price} zł|"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:inline="text">[[${#dates.format(item.created, 'dd-MM-yyyy')}]]</td>
                <td th:inline="text">[[${#dates.format(item.endDate, 'dd-MM-yyyy')}]]</td>
                <td th:text="${item.status}"></td>
                <td th:text="${item.owner.username}"></td>
                <td th:if="${item.winner ne null}" th:text="${item.winner.username}"></td>
                <td th:if="${item.winner eq null}">Brak</td>
                <td>
                    <a class="btn btn-danger" th:href="'/item/delete/'+${item.id}" sec:authorize="hasRole('ROLE_ADMIN')">Usuń</a>
                    <a class="btn btn-success" th:href="|/item/edit/${item.id}|" sec:authorize="hasRole('ROLE_ADMIN')">Edytuj</a>
                </td>

            </tr>

            </tbody>
        </table>

    </div>

    <a class="btn btn-success" href="/item/add" >Wystaw przedmiot na aukcje</a>
</div>
    <div th:replace="shared/pagination :: pager('/item', ${itemsPage})"></div>

</div>
</body>
</html>