<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Strona domowa</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container" th:if="${attachment} ne null">
    <H1>Kategoria</H1>
    <img th:if="${attachment.type eq 'image/png'}" th:src="${attachment.path}"/>
    Id: <b th:text="${attachment.id}"></b><br/>
    Nazwa: <a th:href="@{/attachment/download(id=${attachment.id})}">
        <b th:text="${attachment.name}"></b><br/>
    </a>
    Typ: <b th:text="${attachment.type}"></b><br/>
    Przedmiot: <a th:href="|/item/details/${attachment.item.id}|">
        <b th:text="${attachment.item.name}"></b>
    </a><br/>
    Dodany przez: <a th:href="|/user/details/${attachment.item.owner.id}|" sec:authorize="hasRole('ROLE_ADMIN')">
    <b th:text="${attachment.item.owner.username}"></b>
    </a><br/>
    <br/>
    <a class="btn btn-success" th:href="|/attachment/download/${attachment.id}|">pobierz</a>
    <a class="btn btn-success" href="/attachment/">Wstecz</a>
</div>
<div id="main" class="container" th:if="${attachment} eq null" th:text="#{record.not.found}"/>
</body>
</html>