<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Aukcja</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

    <H2>Załączniki</H2>

    <div th:if="${attachmentsPage.hasContent() eq false}">
        <span>Brak załączników w bazie</span>
    </div>
    <div th:if="${attachmentsPage.hasContent() eq true}">

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Nazwa</th>
                <th>Typ</th>
                <th>Przedmiot</th>
                <th>Dodany przez</th>
                <th>Akcje</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="attachment : ${attachmentsPage.content}">

                <td>
                    <a th:href="'/attachment/details/'+${attachment.id}" th:inline="text">[[${attachment.name}]]</a>
                </td>
                <td th:text="${attachment.name}"></td>
                <td>
                    <a class="btn btn-danger" th:href="'/attachment/delete/'+${attachment.id}">Usuń</a>
                    <a class="btn btn-success" th:href="|/attachment/edit/${attachment.id}|">Edytuj</a>
                </td>

            </tr>

            </tbody>
        </table>

        <div th:replace="shared/pagination :: pager('/', ${attachmentsPage})"></div>

    </div>

    <a class="btn btn-success" href="/attachment/add" >Dodaj załącznik</a>


</div>
</body>
</html>