<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
        <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    </div>
</head>
<body>

<div th:fragment="header(pageName)">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" th:classappend="${pageName eq 'home'}?'active'">Strona główna</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse ">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Kategorie<span class="caret"></span>
                        </a>
                        <ul class="list-group dropdown-menu">
                            <li>
                                <a th:href="@{/category}">Szukaj po kategoriach</a>
                            </li>
                            <li>
                                <a th:href="@{/category/suggest}">Zasugeruj nową kategorię</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/items}">Lista przedmiotów</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/register}">Zarejestruj</a>
                    </li>
                    <li sec:authorize="isAnonymous()"
                        th:class="${pageName eq 'logonForm'}? 'active'">
                        <a th:href="@{/login}">Zaloguj się</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <label style="color:grey; margin-top: 15px;">
                            Witaj <span sec:authentication="name"/>!
                        </label>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="#" onclick="document.getElementById('logout').submit()">Wyloguj się</a>
                        <form th:action="@{/logout}" id="logout" method="post" style="display: none;">

                            <input
                                    type="hidden"
                                    th:name="${_csrf.parameterName}"
                                    th:value="${_csrf.token}"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>
</html>