<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
        <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <script src="/webjars/select2/4.0.3/js/select2.min.js"></script>
        <link rel="stylesheet" href="/webjars/select2/4.0.3/css/select2.min.css"/>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    autoclose: true,
                    format: "yyyy-mm-dd",
                    immediateUpdates: true,
                    todayBtn: true,
                    todayHighlight: true
                });
                $('.select2').select2({
                    autoclose: false
                });
            });
        </script>
    </div>
</head>
<body>

<div th:fragment="header(pageName)">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}" th:classappend="${pageName eq 'home'}?'active'">Strona główna</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse ">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Kategorie<span class="caret"></span>
                        </a>
                        <ul class="list-group dropdown-menu">
                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{/category}">Lista kategorii</a>
                            </li>
                            <li>
                                <a th:href="@{/}">Szukaj po kategoriach</a>
                            </li>
                            <li>
                                <a th:href="@{/category/suggest}">Zasugeruj nową kategorię</a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/user}">Użytkownicy</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/item}">Przedmioty</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="|/item/${#authentication.name}|">Moje przedmioty</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/attachment}">Załączniki</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="|/attachment/${#authentication.name}|">Moje załączniki</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/register}">Zarejestruj</a>
                    </li>
                    <li sec:authorize="isAnonymous()"
                        th:class="${pageName eq 'logonForm'}? 'active'">
                        <a th:href="@{/login}">Zaloguj się</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <label style="color:grey; margin-top: 15px;">
                            Witaj <span sec:authentication="name"/>!
                        </label>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="#" onclick="document.getElementById('logout').submit()">Wyloguj się</a>
                        <form th:action="@{/logout}" id="logout" method="post" style="display: none;">

                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>
</html>